html{
    --bg: rgba(0, 0, 0, 0.9);
    --color-text: white;
    --nav-color: 272727;

}

html[data-theme ='light']{
    --bg: white;
    --color-text: rgba(0, 0, 0, 0.9);
    --nav-color: #EBEBEB;
}

body{
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
}

#nav{
    background-color: var(--nav-color) !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.inputTitle
{
    color: var(--color-text);
    text-align: center;
    font-family: monospace;
    font-size: 30;
    font-weight: bold;
    color: var(--color-text);
    letter-spacing: 3.5px;
    padding: 170px 0px 30px 0px;
}

.webpageTitle{
    padding: 2px;
    color: var(--color-text);
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial;
    font-weight: bold;
    font-size: 30;
    letter-spacing: 1px;
}

.navbar-toggler-icon
{
    color: var(--color-text);
}

.navlink{
    letter-spacing: 1px;
    padding: 0px 25px !important;
    color: var(--color-text) !important;
}

.form{
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial;
}

.searchButton{
    background-color: none;
    color: var(--color-text);
    border: none;
    font-size: 25px
}

.copyright{
    position: static; 
    bottom: 0px; 
    width: 100%; 
    text-align: center; 
    color: gray; 
    font-size: 10px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#toggle, label{
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
    position: relative;
    float: right;
    margin-bottom: -1px !important; 
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
    transition: 0.3s;
    margin-bottom: -1px !important;
}

input:checked + label {
	background: #866BBB;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
